.card {
  position: relative;
  background-color: $base-color;
  padding: $global-spacing ($global-spacing * 2) $global-spacing ($global-spacing * 3);
  padding-right: 0;
  margin-bottom: 0.5rem;
  @include column(12/12);
  box-shadow: $base-shadow;
  border-right: solid $inprogress-color 10px;
  label {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    .form__option__ui {
      background-color: darken($tertiary-color, 10%);
    }
  }
  transform: translateY(0px);
  transition: transform 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  &:hover {
    box-shadow: $base-shadow-hover;
    transform: translateY(-2px);
  };
}

.card__content {
  @include column(12/12);
  &:hover {
    opacity: 1;
  }
}

.card__title, .card__status {
  color: $primary-color;
  margin-bottom: 0;
  @include media(small-down) {
    float: left;
  }
}

.card__title {
  font-size: 1.25rem;
  line-height: 2rem;
}

.card__status, .card__rating {
  font-size: 0.875rem;
}

.card__status {
  @include media(small-down) {
    font-size: 0.875rem;
    color: rgba($primary-color, 0.7);
    margin-bottom: $global-spacing;
  }
}

.card__status, .card__updated, .card__assigned {
  text-align: right;
  padding-right: $global-spacing;
  @include media(small-down) {
    text-align: left;
  }
}

.card__description, .card__updated, .card__assigned {
  color: rgba($primary-color, 0.6);
  font-size: 0.875rem;
  margin-bottom: $global-spacing/2;
  @include media(small-down) {
    float: left;
  }
}

.card__description {
  @include media(small-down) {
    margin-top: $global-spacing/2;
    margin-left: $global-spacing/2;
  }
  @include media(xsmall-only) {
    margin: 0;
    width: 100%;
  }
}
.card__body {
  position: relative;
  @include column(8/12, $gutter: 0);
  @include media(small-down) {
    @include column(12/12);
  }
}

.card__meta {
  @include column(4/12, $gutter: 0);
  @include media(small-down) {
    @include column(12/12);
    margin-top: $global-spacing/2;
  }
}

.group {
  border-right: none;
  padding: $global-spacing $global-spacing $global-spacing/2 $global-spacing;
  .card__header {
    float: left;
    height:100%;
    @include column(3/12);
    margin: 0 $global-spacing;
    @include media(small-down) {
      @include column(5/12);
    }
    h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 400;
    }
  }
  .card__body {
    border-left: solid 1px $tertiary-color;
    padding-left: $global-spacing;
    @include column(8/12);
    @include media(small-down) {
      @include column(7/12);
    }
  }
  .card__description {
    @include media(small-down) {
      float: none;
      margin: 0;
    }
  }
}

.service-provider-card {
  border-right: none;
}

.rating__group {
  float: right;
}

.card__rating {
  float: left;
  margin-bottom: 0;
}

.card__rating-list {
  margin-bottom: 0;
  float: right;
  margin-right: $global-spacing;
  margin-top: $global-spacing/4;
}

.card__assigned {
  float: right;
}

.card__rating-item {
  display: inline-block;
  list-style: none;
  height: 10px;
  width: 10px;
  border-radius: 9999px;
  background-color: $tertiary-color;
  margin-left: $global-spacing/2;
  margin-bottom: 0.1rem;
}

.card--unassigned {
  border-right: solid $unassigned-color 10px;
}

.card--assigned {
  border-right: solid $assigned-color 10px;
}

.card--inprogress {
  border-right: solid $inprogress-color 10px;
}

.card--resolved {
  border-right: solid $resolved-color 10px;
}

.card--reviewed {
  border-right: solid $reviewed-color 10px;
}

/*leave these styles for new cards*/

.card__content--unassigned{
  @include column(12/12);
  h1, h2 {
    color: darken($unassigned-color, 28%);
  };
}

.card__content--assigned {
  @include column(12/12);
  h1, h2 {
    color: $assigned-color;
  };
}

.card__content--in-progress {
  @include column(12/12);
  h1, h2 {
    color: darken($inprogress-color, 10%);
  };
}

.card__content--resolved {
  @include column(12/12);
  h1, h2 {
    color: darken($resolved-color, 10%);
  };
}

.card__content--reviewed {
  @include column(12/12);
  h1, h2 {
    color: darken($reviewed-color, 10%);
  };
}